body {
    height: 100%;
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

.hero {
    display: flex;
    gap: 40px;
    padding-top: 100px;

}
.hero1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
    text-wrap: wrap;
}
.img1 {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 450px;
    flex-shrink: 0;

}
.body-one {
    background-color: #E5E7EB;
    text-align: center;;
    padding-top: 40px;
    padding-bottom: 60px;
}
.body-two {
    background-color: lightgrey;
    padding: 60px 80px;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: thin;
}
.credit {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}
.body-three {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    padding: 60px 80px;
}


.places-to-visit {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.caption {
    max-width: 200px;
}


.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 80px 40px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px
}
.header {
    font-size: 24px;
    display: flex;
    padding: 10px 80px;
    align-items: center;
}


h2 {
    font-size: 36px;
    font-weight: 800;
}

h3 {
    font-size: 48px;
    font-weight: 800;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 4px;
    width: 90px;
    height: 30px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}
.button1 {
    border: 0;
}
.button2 {
    border: 2px solid #E5E7EB;
    

}
.button2div {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.b3text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


ul {
    list-style-type: none;
    font-size: 17px;
    display: flex;
    gap: 20px;
    margin-left: auto;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}
a:hover {
    color: #3882F6;
}